# This file is an example config file for corexy (and also h-bot)
# style printers. One may copy and edit this file to configure a new
# corexy printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.


[board_pins octopus_pro_h723_tmc2209]
aliases:

  # X
  x_step_pin=PF13,
  x_dir_pin=PF12,
  x_enable_pin=PF14,
  x_endstop_pin=PG6,

  # Y
  y_step_pin=PG0,
  y_dir_pin=PG1,
  y_enable_pin=PF15,
  y_endstop_pin=PG9,

  # Z0
  z0_step_pin=PC13,
  z0_dir_pin=PF0,
  z0_enable_pin=PF1,

  # Z1
  z1_step_pin=PE2,
  z1_dir_pin=PE3,
  z1_enable_pin=PD4,

  # Z2
  z2_step_pin=PE6,
  z2_dir_pin=PA14,
  z2_enable_pin=PE0,

  # Extruder
  e_step_pin=PF11,
  e_dir_pin=PG3,
  e_enable_pin=PG5,

  # Extruder heater
  e_heater_pin=PA2,
  e_sensor_pin=PF4,

  # Bed heater
  heater_bed_heating_pin=PA1,
  heater_bed_sensor_pin=PF3,

  # Part cooling fan
  fan_part_cooling_pin=PA8,


# ============================================================
# X AXIS
# ============================================================

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14

microsteps: 16
rotation_distance: 40

endstop_pin: ^PG6
position_endstop: 0
position_max: 200
homing_speed: 50


# ============================================================
# Y AXIS
# ============================================================

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15

microsteps: 16
rotation_distance: 40

# Original probe-based homing:
# endstop_pin: probe:z_virtual_endstop

# Use the physical Y endstop from the board pin aliases
endstop_pin: ^PG9

position_min: 0
position_max: 200
homing_speed: 50


# ============================================================
# Z AXIS
# ============================================================
#
# THREE Z MOTORS
#
# All three motors move together whenever Klipper commands Z.
#
# Z0 = PC13 / PF0 / PF1
# Z1 = PE2  / PE3 / PD4
# Z2 = PE6  / PA14 / PE0
#
# ============================================================


# ============================================================
# Z MOTOR 1
# ============================================================

[stepper_z]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1

microsteps: 16
rotation_distance: 8

endstop_pin: ^PD3
position_endstop: 0.5
position_max: 200


# ============================================================
# Z MOTOR 2
# ============================================================

[stepper_z1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4

microsteps: 16
rotation_distance: 8


# ============================================================
# Z MOTOR 3
# ============================================================

[stepper_z2]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0

microsteps: 16
rotation_distance: 8


# ============================================================
# OLD SINGLE Z MOTOR CONFIG
# KEPT FOR REFERENCE
# ============================================================

# [stepper_z]
# step_pin: PL3
# dir_pin: PL1
# enable_pin: !PK0
# microsteps: 16
# rotation_distance: 8
# endstop_pin: ^PD3
# position_endstop: 0.5
# position_max: 200


# ============================================================
# EXTRUDER
# ============================================================

[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2

microsteps: 16
rotation_distance: 33.500

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: PB4

sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

min_temp: 0
max_temp: 250


# ============================================================
# BED HEATER
# ============================================================

[heater_bed]
heater_pin: PH5

sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6

control: watermark

min_temp: 0
max_temp: 130


# ============================================================
# FAN
# ============================================================

[fan]
pin: PH6


# ============================================================
# MCU
# ============================================================

[mcu]
serial: /dev/ttyACM0


# ============================================================
# PRINTER
# ============================================================

[printer]
kinematics: corexy

max_velocity: 300
max_accel: 3000

max_z_velocity: 25
max_z_accel: 30


# ============================================================
# BLTOUCH
# DISABLED
#
# Kept here so you can easily enable it later.
# ============================================================

# [bltouch]
# sensor_pin: ^PB5
# control_pin: PB6
#
# # Offsets
# x_offset: -25
# y_offset: -5
# z_offset: 0
#
# speed: 5
# samples: 2
# sample_retract_dist: 3.0


# ============================================================
# BED LEVELING
# DISABLED
#
# Old code preserved.
# ============================================================


# ------------------------------------------------------------
# SAFE Z HOME
# ------------------------------------------------------------

# [safe_z_home]
# home_xy_position: 100,100
# speed: 50
# z_hop: 10
# z_hop_speed: 5


# ------------------------------------------------------------
# SCREWS TILT ADJUST
# ------------------------------------------------------------

# [screws_tilt_adjust]
# screw1:
# screw1_name: front_left
#
# screw2:
# screw2_name: front_right
#
# screw3:
# screw3_name: back_center
#
# horizontal_move_z: 10
# speed: 50
# screw_thread: CW-M3


# ------------------------------------------------------------
# Z TILT
# ------------------------------------------------------------

# [z_tilt]
#
# z_positions:
#     # X,Y of Z1 Motor
#     # X,Y of Z2 Motor
#     # X,Y of Z3 Motor
#
# points:
#     # X,Y probe point for Z1
#     # X,Y probe point for Z2
#     # X,Y probe point for Z3
#
# speed: 50
# horizontal_move_z: 10
# retry_tolerance: 0.05


# ------------------------------------------------------------
# BED MESH
# ------------------------------------------------------------

# [bed_mesh]
# speed: 120
# horizontal_move_z: 5
# mesh_min: 10,10
# mesh_max: 190,190
# probe_count: 5,5
# algorithm: bicubic
# fade_start: 1.0
# fade_end: 10.0


# ============================================================
# PRINT START
# ============================================================

[gcode_macro PRINT_START]
description: G-code to run at the start of a print

gcode:
    G28 ; Home all axes

    # Bed leveling disabled for now
    # Z_TILT_ADJUST
    # BED_MESH_CALIBRATE
